POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DATABASE_URL=
ENVIRONMENT=
REDIS_PASSWORD=
REDIS_URL=

SECRET_KEY=
ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=
GOOGLE_CLIENT_ID=-
GEMINI_API_KEY=
GEMINI_MODEL=
OLLAMA_BASE_URL=
OLLAMA_MODEL=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
RAG_EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2